/* Color parrafo/Tirulo dento de cajas */

$fonts: (
    Arial: grey,
    Cambria: black,
    Georgia: white
);

@each $font, $color in $fonts {
    .font__#{$font} {
        font-family: #{$font};
        color: #{$color};
    }
}

$estilos: (
    centro: center,
    tFuente: 35px
);
