@mixin centrarEnCaja() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box_centrar {
    @include centrarEnCaja()
}