* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

/* HEADER */

header {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    height: 80px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

header .title {
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-right: 10px ;
}

/* NAV */

  header .header__burguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: rgb(39, 39, 39);
    border: none;
    color: grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in;
  }
  
  input#menu {
    display: none;
  }
  
  header button.header__burguerMenu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  input#menu:checked ~ .header__menu {
    display: block;
  } 
  
  header .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(39, 39, 39);
  }
  
  header .header__menu .header__closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    
  }
  
  header .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  header .header__menu ul li {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  header .header__menu ul li:hover {
    background-color: rgb(68, 68, 68);
  }
  
/* Media queries */

@media screen and (min-width: 768px) {

  header .header__burguerMenu {
    display: none;
  }

  header .header__menu .header__closeMenu {
    display: none;
  }
 
  header .header__menu {
    display: initial;
    position: inherit;
  }

  header .header__menu ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  header #header__menu--itemGallery {
    position: relative;
  }

  header #header__menu--itemGallery:hover > ul {
    display: flex;
  }

  
  header #header__menu--itemGallery ul {
  display: none;
  position: absolute;
  left: 0;
  padding: 0.5rem;
  height: 7rem;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  }

}

/* END HEADER */

/* BODY */

body main {
  background-color: rgb(56, 56, 56);
}

#SalonIndex {
  display: flex;
  display: inline-block;
  bottom: 30px;
  right: 30px;
  position: fixed;
  justify-content: flex-end;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgb(163, 163, 163);
  padding: 1rem;
  background-color: rgb(39, 39, 39);
}

footer p{
  color: white;
}

footer ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-direction: column;
}

footer ul li {
  border-radius: 7px;
  box-shadow: 0 0 15px rgb(163, 163, 163);
  padding:  8px;  
  background-color: rgb(223, 223, 223);
  margin: 3px;
  width: 150px;

}

footer ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

footer div a{
  display: block;
  display: flex;
  justify-content: flex-end;
}

footer div.ImgTop img {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 150px;
  position: fixed;
  bottom: 30px; 
  right: 30px;
}

/* HOME */

h2 {
  display: flex;
  justify-content: center;
  color: white;
}

h3, h4, h5, h6 {
    margin: 1rem 0.5rem;
    display: flex;
    color: white;
}

main p {
    margin: 0.5rem 0.5rem;
    color: rgb(189, 189, 189);
}

section.container-1 {
    display: flex;
    padding: 30px;
    display: flex;
}

article.item {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in;

}

article.item:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

section.container-1 article.item {
    width: 100%;
}

body {
    background-color: rgb(231, 231, 231);
}

/* Index Main */

.media {
  display: flex;
  align-items: flex-start;
}
.media.flipped {
  flex-direction: row-reverse;
}
.media .IndexMainContent {
  flex: 1;
  padding: 10px;
}

/* End Index Main */

/* END HOME*/

/* GALERIA */

#galleryMain {
  display: grid;
  grid-template-areas: "title title"
                       "img1 img2"
                       "img3 img4";
  justify-content: center;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.galleryTitle {
  padding-bottom: 12px;
  grid-area: title;
  align-self: center;
  text-align: center;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.galleryTitle:hover {
  widows: 5px 5px 15px rgba(0, 0, 0, 0.1);
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

#img:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  #galleryMain {
    display: grid;
    grid-template-areas: "title"
                         "img1" 
                         "img2"
                         "img3" 
                         "img4";
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  
  .galleryTitle {
    padding-bottom: 12px;
    grid-area: title;
    align-self: center;
    text-align: center;
  }
  
  .img1 {
    grid-area: img1;
  }
  
  .img2 {
    grid-area: img2;
  }
  
  .img3 {
    grid-area: img3;
  }
  
  .img4 {
    grid-area: img4;
  }
  
  .galleryTitle:hover {
    widows: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
  
  #img:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
}

  /* END GALERIA */

  /* CONTACTO */

  .formulario {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 0 15px rgb(163, 163, 163);
    padding:  8px;  
    background-color: rgb(223, 223, 223);

    margin: 0px;
    width: 256px;
    height: 200px;
  }

  .formulario1 {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 0 15px rgb(163, 163, 163);
    padding:  8px;  
    background-color: rgb(223, 223, 223);
    margin: 5px;
   
    width: 224px;
    height: 200px;
  }

/* END CONTACTO */

/* EVENTOS */

.eventsGrid {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-areas: "Tboda TAños TEgresados"
                       "boda años egresados";
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
}


#boda {
  grid-area: TBoda;
}

#años {
  grid-area: TAños;
}

#egresados {
  grid-area: TEgresados;
}

.bodaImg {
  grid-area: boda;

}

.añosImg {
  grid-area: años;
}

.egresadosImg {
  grid-area: egresados;
}

@media screen and (max-width: 768px) {

  .eventsGrid {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: repeat(6, 700px);
    grid-template-areas: "Tboda"
                         "boda"


                         "TAños"
                         "años"


                         "TEgresados" 
                         "egresados";
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }
  #boda {
    grid-area: TBoda;
  }
  
  #años {
    grid-area: TAños;
  }
  
  #egresados {
    grid-area: TEgresados;
  }
  
  .bodaImg {
    grid-area: boda;
  
  }
  
  .añosImg {
    grid-area: años;
  }
  
  .egresadosImg {
    grid-area: egresados;
  }
}


/* END EVENTOS */